<div class="trix-content" style="display: -webkit-box;
  -webkit-line-clamp: 4; /* Change the number for different limits */
  -webkit-box-orient: vertical;
  overflow: hidden;">
  <%= yield -%>
</div>
