<div id="<%= dom_id task %>">
  <p class="my-5 text-lg font-medium">
   <%= formatted_title(task) %>
  </p>

  <p class="my-5">
    <%= task.details %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Due date:</strong>
    <%= task.due_date %>
  </p>
</div>
